body {
	color: white;
}

#instructions {
	user-select: none;
	text-align: center;
}

#canvas {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.webgl2-not-supported-error {
	color: red;
	font-weight: bolder;
	font-family: sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
